<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Notifikasi Pendaftaran Berhasil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v3.0.3/css/line.css"
    />
  </head>

  <body
    style="
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      padding-top: 10px;
      font-family: Poppins;
    "
    class="mcd np"
  >
    <table
      align="center"
      border="0"
      cellpadding="30"
      cellspacing="0"
      width="100%"
      style="
        border-collapse: collapse;
        max-width: 650px;
        background: #fff;
        padding: 0;
        border-radius: 10px;
      "
    >
      <tbody>
        <tr style="width: 100%; padding: 0; border-bottom: 1px solid #dddef6">
          <td style="padding: 1rem 0; text-align: center">
            <img
              style="width: auto; height: 45px"
              src="https://maukuliah.id/assets/img/logo.png"
              alt="Logo Maukuliah"
            />
          </td>
        </tr>

        <tr style="padding: 0">
          <td style="padding: 1.5rem 0; text-align: center">
            <img
              style="width: 400px; height: auto"
              src="https://i.ibb.co/gj1SRyC/status-daftar.png"
              alt="Gambar Halaman Tujuan"
            />
          </td>
        </tr>

        <tr>
          <td style="padding: 0 1.5rem; text-align: center">
            <h3
              style="
                margin: 0px 0px 20px 0px;
                font-size: 1.3rem;
                letter-spacing: 0.3px;
                color: #282828;
              "
            >
              Yeay, Pendaftaranmu Berhasil Terkirim !
            </h3>
            <p
              style="
                color: #757575;
                font-weight: 500;
                font-size: 1rem;
                letter-spacing: 0.3px;
                margin-bottom: 0;
              "
            >
              Cek proses pendaftaranmu sampai mana yuk. <br />
              {{password}} {{email}} Jangan lewatkan informasi pendaftaranmu
              dengan mengakses halaman Siswa ya !
            </p>
          </td>
        </tr>

        <tr>
          <td
            style="
              padding: 1.5rem 1.5rem 3rem 1.2rem;
              border-bottom: 1px solid #dddef6;
            "
            colspan="2"
          >
            <button
              type="button"
              style="
                width: 100%;
                border-radius: 50px;
                background-color: #393da9;
                text-align: center;
                padding: 1rem;
                cursor: pointer;
                border: none;
              "
            >
              <a
                target="_blank"
                style="
                  color: #fff;
                  font-weight: 600;
                  font-family: Poppins;
                  text-decoration: none;
                  font-size: 1rem;
                "
                href="{{url}}"
                >verifikasi</a
              >
            </button>
          </td>
        </tr>

        <tr>
          <td
            style="
              padding: 1.5rem;
              border-top: 1px solid #dddef6;
              text-align: center;
            "
          >
            <h6
              style="
                font-size: 1rem;
                color: rgba(38, 49, 69, 0.4);
                font-weight: 600;
                margin: 0;
              "
            >
              MauKuliah.id by PT. Sentra Vidya Utama <br />
              © 2021 All right reserved.
            </h6>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
